@import "normalize-css";

html,
body,
input,
button,
select,
textarea {
  font: 16px/1.2 'Source Sans Pro', 'Helvetica Neue', Helvetica, arial, sans-serif;
  color: #444;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  font-weight: 300;
}

html,
body {
  height: 100%;
}

body {
  border-top: 3px solid #015770;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
  font-weight: 300;
  line-height: 1.5;
}

a {
  color: #2A8782;
  text-decoration: none;
}

a:hover {
  color: #000;
}

a:active,
a:focus {
  color: #000;
}

b {
  font-weight: 400;
}

pre,
code {
  font-family: Monaco, Menlo, monospace;
  padding: 0px 4px;
  background-color: #f8f8f8;
  border: 1px solid #e2e2e2;
  overflow: scroll;
  font-size: 12px;
}

pre {
  padding: 10px;
}

pre code {
  background-color: transparent;
  border: 0px;
  padding: 0px;
}

hr {
  border-top: 1px solid #e2e2e2;
  border-right: none;
  border-bottom: none;
  border-left: none;
  margin: 10px 0 30px 0;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

img.headshot {
  float: right;
  width: 120px;
  height: auto;
  margin: 0px 0px 20px 20px;
  border-radius: 90px;
}

.serif {
  font-family: Baskerville, sans-serif;
}

input[type=text],
input[type=email],
input[type=password] {
  border: 1px solid #efefef;
  padding: 0px 10px;
  margin-top: 0px;
  margin-bottom: 10px;
  width: 300px;
  height: 30px;
}

.icon,
button,
.button,
input[type="submit"] {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, sans-serif;
  background-color: #015770;
  color: #fefefa;
  border-radius: 2px;
  border: 1px solid #015770;
  font-weight: 400;
  cursor: pointer;
  font-size: 14px;
  padding: 0px 10px;
  height: 30px;
  vertical-align: top;
  -webkit-appearance: none;
  -webkit-border-radius: 0;
}

.icon:hover,
button:hover,
button:focus,
.button:hover,
.button:focus,
input[type="submit"]:hover,
input[type="submit"]:focus {
  background-color: #013545;
  border-color: #013545;
  color: #fff;
}

a.button {
  display: inline-block;
}

a.button:hover {
  text-decoration: none;
}

button.destroy {
  color: color(#013545 tint(70%));
  background-color: transparent;
  border: 0px;
}

button.destroy:hover {
  color: #013545;
  background-color: #efefea;
  border: 0px;
}

a.button i.fa {
  line-height: 30px;
}

#about {
  height: 30px;
  line-height: 30px;
  margin-left: 20px;
}

.about .container {
  max-width: 600px;
  margin: 30px auto;
}

.about p {
  font-size: 20px;
  line-height: 1.5;
}


/*
* SHEET EDITOR
*/

input[type="text"].sheet-name {
  margin: 0px;
  font-weight: 500;
  font-size: 2em;
  border: 0px;
  padding: 0px;
  height: 50px;
  line-height: 50px;
  width: 100%;
}

textarea.sheet-description {
  border: 0px;
  width: 100%;
}

.table-wrapper {
  overflow: auto;
}

#table-editor {
  margin-top: 30px;
}

#table-editor thead th {
  text-align: left;
  padding-top: 10px;
}

#table-editor thead th span.column-name {
  display: inline-block;
}

#table-editor thead th span.column-name input {
  border: 0px;
  width: 114px;
  height: 30px;
  padding-left: 5px;
}

#table-editor tbody td {
  width: 150px;
}

#table-editor tbody .row-index {
  width: 25px;
}

#table-editor textarea {
  resize: none;
  height: 28px;
  line-height: 26px;
  padding: 0px 0px 0px 5px;
  border: 1px solid #ccc;
  width: 150px;
  outline: 0;
}

#table-editor .expand-editor {
  position: relative;
  float: right;
  margin-top: -22px;
  margin-right: 5px;
  display: none;
}

#table-editor td:hover > .expand-editor {
  display: inline;
}

#table-editor tbody td.row-label,
#table-editor tbody td.row-index {
  width: 20px;
  cursor: all-scroll;
  cursor: --webkit-grab;
  cursor: grab;
}

#main-content {
  margin-left: -32px;
}

.long-text-wrapper {
  width: 700px;
  margin: 0px auto;
}

#long-text-editor {
  border: 2px solid #f2f2f0;
  padding: 30px;
  width: 700px;
  height: 500px;
  margin-bottom: 20px;
}

#code-box {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 3px;
  left: 0;
  background-color: rgba(255, 255, 255, 0.9);
}

#code-box textarea {
  width: 100%;
  height: 100%;
  padding: 50px;
  border: 0px;
}

#user-list {
  height: 40px;
}

#user-list ul {
  margin: 0px 0px 10px 0px;
  padding: 0px;
}

#user-list li {
  padding: 3px 5px;
  background-color: #f5f5f3;
  display: inline-block;
  border-radius: 4px;
  border: 1px solid #f5f5f3;
}

header {
  padding: 10px;
  background-color: #f6f6f5;
  margin-bottom: 20px;
  border-bottom: 1px solid #e2e2e0;
}

header h1.site-title {
  font-size: 20px;
  margin-top: 10px;
  line-height: 1;
  float: left;
  font-weight: 400;
  letter-spacing: -1px;
}

header h1.site-title a {
  color: #535351;
  text-decoration: none;
}

header h1.site-title a:hover {
  color: #000;
}

header ul.main-nav {
  margin: 0px;
  padding: 0px;
  text-align: right;
}

header ul.main-nav li {
  display: inline-block;
  margin-left: 15px;
}


.header-settings-toggle {
  float: right;
}

.header-settings {
  margin: 5px 0px 0px -9px;
  padding: 0px;
  position: absolute;
  width: 150px;
}

.header-settings li {
  display: block;
  width: 100%;
}

.header-settings li button {
  width: 100%;
  text-align: left;
}

header li a {
  height: 36px;
  line-height: 36px;
  display: inline-block;
}

header form.sign-out {

}

header form.sign-out input {
  height: 36px;
  line-height: 36px;
  vertical-align: baseline;
}

header a.button {
  display: block;
  height: 36px;
  line-height: 25px;
}

.hidden {
  display: none;
}

.container {
  margin: 0px 50px;
}


/*
* SHEET LIST
*/

.sheet-list h1 {
  font-size: 20px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 20px;
}

.sheet-list .list-item {
  height: 100px;
}

.sheet-list .list-item-info {
  float: left;
}

.sheet-list .list-item-actions {
  float: right;
  line-height: 53px;
}

.sheet-list .list-item-actions .destroy-sheet {
  margin-top: 11px;
}

.sheet-list .list-item > a {
  border-left: 10px solid #f2f2f0;
  padding: 10px 20px;
  display: block;
  margin-bottom: 20px;
  height: 70px;
}

.sheet-list .list-item > a:hover {
  border-left: 10px solid #d2d2d0;
  background-color: #fcfcfa;
}

.sheet-list .list-item-description {
  color: #999;
}

.sheet-list .list-item a:hover .list-item-description {
  color: #424240;
}


/*
* MODAL
*/

#modal {
  position: fixed;
  top: 3px;
  width: 100%;
  background-color: #fff;
  height: 100%;
  padding: 50px;
}

#close-modal {
  position: absolute;
  top: 0;
  right: 50px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

#modal h1 {
  border-bottom: 1px solid #f2f2f0;
  margin-bottom: 10px;
}


/*
* INVITES
*/

.invite-emails {
  width: 100%;
  max-width: 500px;
  height: 300px;
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #e2e2e0;
}


/*
* FOOTER
*/

footer {
  margin-top: 50px;
  border-top: 1px solid #f2f2f0;
  padding-top: 20px;
}

footer ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

footer ul li {
  margin-bottom: 4px;
}
