@import "normalize-css";

html,
body,
input,
button,
select,
textarea {
  font: 16px/1.2 'Source Sans Pro', 'Helvetica Neue', Helvetica, arial, sans-serif;
  color: #444;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  font-weight: 300;
}

html,
body {
  height: 100%;
}

body {
  border-top: 3px solid #015770;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
  font-weight: 300;
  line-height: 1.5;
}

a {
  color: #2A8782;
  text-decoration: none;
}

a:hover {
  color: #000;
}

a:active,
a:focus {
  color: #000;
}

b {
  font-weight: 400;
}

pre,
code {
  font-family: Monaco, Menlo, monospace;
  padding: 0px 4px;
  background-color: #f8f8f8;
  border: 1px solid #e2e2e2;
  overflow: scroll;
  font-size: 12px;
}

pre {
  padding: 10px;
}

pre code {
  background-color: transparent;
  border: 0px;
  padding: 0px;
}

hr {
  border-top: 1px solid #e2e2e2;
  border-right: none;
  border-bottom: none;
  border-left: none;
  margin: 10px 0 30px 0;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

img.headshot {
  float: right;
  width: 120px;
  height: auto;
  margin: 0px 0px 20px 20px;
  border-radius: 90px;
}

.serif {
  font-family: Baskerville, sans-serif;
}

input[type=text],
input[type=email],
input[type=password] {
  border: 1px solid #efefef;
  padding: 0px 15px;
  margin-top: 0px;
  margin-bottom: 10px;
  width: 300px;
  height: 30px;
}

.icon,
button,
.button,
input[type="submit"] {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, sans-serif;
  background-color: #015770;
  color: #fefefa;
  border-radius: 2px;
  border: 1px solid #015770;
  font-weight: 400;
  cursor: pointer;
  font-size: 14px;
  padding: 0px 10px;
  height: 30px;
  vertical-align: top;
  -webkit-appearance: none;
  -webkit-border-radius: 0;
}

.icon:hover,
button:hover,
button:focus,
.button:hover,
.button:focus,
input[type="submit"]:hover,
input[type="submit"]:focus {
  background-color: #013545;
  border-color: #013545;
  color: #fff;
}

a.button {
  padding: 6px 10px;
}

a.button:hover {
  text-decoration: none;
}

button.destroy {
  color: color(#013545 tint(70%));
  background-color: transparent;
  border: 0px;
}

button.destroy:hover {
  color: #013545;
  background-color: #efefea;
  border: 0px;
}

a.button i.fa {
  line-height: 30px;
}

#about {
  height: 30px;
  line-height: 30px;
  margin-left: 20px;
}

.about .container {
  max-width: 600px;
  margin: 30px auto;
}

.about p {
  font-size: 20px;
  line-height: 1.5;
}

#table-editor {
  margin-top: 30px;
}

#table-editor thead th {
  text-align: left;
  padding-top: 10px;
}

#table-editor thead th span.column-name {
  display: inline-block;
}

#table-editor thead th span.column-name input {
  border: 0px;
  width: 114px;
  height: 30px;
  padding-left: 5px;
}

#table-editor textarea {
  resize: none;
  height: 28px;
  line-height: 26px;
  padding: 0px 0px 0px 5px;
  border: 1px solid #ccc;
  width: 150px;
  outline: 0;
}

#main-content {
  margin-left: -32px;
}

#code-box {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 3px;
  left: 0;
  background-color: rgba(255, 255, 255, 0.9);
}

#code-box textarea {
  width: 100%;
  height: 100%;
  padding: 50px;
  border: 0px;
}



header {
  padding: 10px;
  background-color: #f6f6f5;
  margin-bottom: 20px;
  border-bottom: 1px solid #e2e2e0;
}

header h1.site-title {
  font-size: 20px;
  margin-top: 10px;
  line-height: 1;
  float: left;
  font-weight: 400;
  letter-spacing: -1px;
}

header h1.site-title a {
  color: #535351;
  text-decoration: none;
}

header h1.site-title a:hover {
  color: #000;
}

header ul.main-nav {
  margin: 0px;
  padding: 0px;
  text-align: right;
}

header ul.main-nav li {
  display: inline-block;
  margin-left: 15px;
}


.header-settings-toggle {
  float: right;
}

.header-settings {
  margin: 5px 0px 0px -9px;
  padding: 0px;
  position: absolute;
  width: 150px;
}

.header-settings li {
  display: block;
  width: 100%;
}

.header-settings li button {
  width: 100%;
  text-align: left;
}

header li a {
  height: 36px;
  line-height: 36px;
  display: inline-block;
}

header form.sign-out {

}

header form.sign-out input {
  height: 36px;
  line-height: 36px;
  vertical-align: baseline;
}

header a.button {
  display: block;
  height: 36px;
  line-height: 25px;
}

.hidden {
  display: none;
}

.container {
  margin: 0px 50px;
}

#modal {
  position: absolute;
  top: 3px;
  width: 100%;
  background-color: #fff;
  height: 100%;
  padding: 50px;
}

#close-modal {
  position: absolute;
  top: 0;
  right: 50px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

#modal h1 {
  border-bottom: 1px solid #f2f2f0;
  margin-bottom: 10px;
}
