@import "normalize-css";

html,
body,
input,
button,
select,
textarea {
  font: 16px/1.2 'Source Sans Pro', 'Helvetica Neue', Helvetica, arial, sans-serif;
  color: #444;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  font-weight: 300;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
  font-weight: 300;
  line-height: 1.5;
}

a {
  color: #2A8782;
  text-decoration: none;
}

a:hover {
  color: #000;
}

a:active,
a:focus {
  color: #000;
}

b {
  font-weight: 400;
}

pre,
code {
  font-family: Monaco, Menlo, monospace;
  padding: 0px 4px;
  background-color: #f8f8f8;
  border: 1px solid #e2e2e2;
  overflow: scroll;
  font-size: 12px;
}

pre {
  padding: 10px;
}

pre code {
  background-color: transparent;
  border: 0px;
  padding: 0px;
}

hr {
  border-top: 1px solid #e2e2e2;
  border-right: none;
  border-bottom: none;
  border-left: none;
  margin: 10px 0 30px 0;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

img.headshot {
  float: right;
  width: 120px;
  height: auto;
  margin: 0px 0px 20px 20px;
  border-radius: 90px;
}

.serif {
  font-family: Baskerville, sans-serif;
}

input[type=text],
input[type=email],
input[type=password] {
  border: 1px solid #efefef;
  padding: 10px 15px;
  margin-top: 0px;
  margin-bottom: 10px;
  width: 300px;
  height: 30px;
}

.icon,
button,
.button,
input[type="submit"] {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, sans-serif;
  background-color: #015770;
  color: #fefefa;
  border-radius: 2px;
  border: 1px solid #015770;
  font-weight: 400;
  cursor: pointer;
  font-size: 14px;
  padding: 0px 10px;
  height: 30px;
  line-height: 30px;
  vertical-align: top;
  -webkit-appearance: none;
  -webkit-border-radius: 0;
}

.icon:hover,
button:hover,
button:focus,
.button:hover,
.button:focus,
input[type="submit"]:hover,
input[type="submit"]:focus {
  background-color: #013545;
  border-color: #013545;
  color: #fff;
}

a.button {
  padding: 11px 10px 10px 10px;
}

a.button:hover {
  text-decoration: none;
}

#table-editor {
  margin-top: 30px;
}

#table-editor textarea {
  resize: none;
  height: 28px;
  line-height: 26px;
  padding: 0px 0px 0px 5px;
  border: 1px solid #ccc;
}

#code-box {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.9);
}

#code-box textarea {
  width: 100%;
  height: 100%;
  padding: 50px;
  border: 0px;
}

#code-box #close {
  position: fixed;
  right: 50px;
}

.hidden {
  display: none;
}

.container {
  margin: 10px 50px;
}