{{#extend "layout"}}

{{#replace "body"}}
<div class="container">
    <hr>
    <div class="sheet-list">
        <h1>Master account list:</h1>
        {{#each accounts}}
        <div class="list-item clearfix">
            <a href="/account/edit/{{ key }}">
                <div class="list-item-info">
                    <h3 class="list-item-name">username: {{ key }}</h3>
                    <div class="list-item-description">email: {{ value.email }}</div>
                </div>

                <div class="list-item-actions">
                    <form action="/account/delete/{{ key }}" method="post">
                        <button type="submit" class="destroy-sheet">
                            <i class="fa fa-trash-o"></i> destroy
                        </button>
                    </form>
                </div>
            </a>
        </div>
        {{/each }}
    </div>
    <form action="/account/create-admin" method="get">
        <button type="submit" class="destroy-sheet">
            <i class="fa fa-plus"></i> create new account
        </button>
    </form>

</div>

{{/replace}}

{{/extend}}
