{{#extend "layout"}}

{{#replace "body"}}
<div class="container">
    <h1>Update account for username: {{ editingAccount.username }}</h1>
    <form action="/accounts/update/{{ editingAccount.username }}" method="post">
        email: <input type="email" name="email" placeholder={{ editingAccount.email }} value={{ editingAccount.email }}><br>
        {{#if account.admin}}
        admin: <input type="checkbox" name="admin" {{checked editingAccount.admin}}><br>
        {{/if}}
        <input type="submit" value="Update account">
    </form>
</div>
{{/replace}}

{{/extend}}
