{{#extend "layout"}}

{{#replace "body"}}
<div class="container">
  <h1 class="page-title">Sign up</h1>
  
  {{#if account.admin}}
  <form action="/accounts/create-admin" method="post">
  {{else}}
  <form action="/accounts/create" method="post">
  {{/if}}
  
    <fieldset>
      <label for="email">email</label>
      <input type="email" name="value[email]">
    </fieldset>
    
    <fieldset>
      <label for="username">username</label>
      <input type="text" name="value[username]">
    </fieldset>
    
    <fieldset>
      <label for="password">password</label>
      <input type="password" name="login[basic][password]">
    </fieldset>

    <input type="hidden" name="value[key]" value="{{ getUUID }}">
    <input type="hidden" name="value[color]" value="{{ getRandomColor }}">

    {{#if account.admin}}
    <fieldset>
      <label for="admin">
        <input type="checkbox" name="value[admin]" value=true>
        admin
      </label>
    </fieldset>
    {{/if}}

    <div class="form-actions">
      <input type="submit" value="Create your account">
    </div>
  </form>
</div>
{{/replace}}

{{/extend}}
