{{#extend "layout"}}

{{#replace "body"}}

<div class="container">
  <h1 class="page-title">Sign in</h1>

  <form action="/sessions" method="post">
    <fieldset>
      <label for="username">username</label>
      <input type="text" name="username">
    </fieldset>
    
    <fieldset>
      <label for="password">password</label>
      <input type="password" name="password">
    </fieldset>

    <div class="form-actions">
      <input type="submit" value="Sign in">
    </div>
  </form>
</div>

{{/replace}}

{{/extend}}
