{{#extend "layout"}}

{{#replace "body"}}

<div class="container">
  <h1 class="page-title">Invite users to edit sheets</h1>

  {{#if emails}}
  <div class="invited-emails">
    <h3>Invited emails:</h3>
    {{#each emails}}
      <p>{{this}}</p>
    {{/each}}
  </div>
  {{/if}}

  <form action="/accounts/invite" method="post">
    <textarea name="emails" class="invite-emails" placeholder="one email per line"></textarea><br>
    <input type="submit" value="Send invitation">
  </form>
</div>

{{/replace}}

{{/extend}}
