<!doctype html>
<html lang="en-us">
<head>
  <meta charset="utf-8">
  <title>{{ site.title }}</title>
  <link href="//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,900" rel="stylesheet" type="text/css">
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
  <link rel="stylesheet" href="/public/style.css">
</head>
<body>

<header>
  <div class="container">
    <h1 class="site-title"><a href="/"><i class="fa fa-table" style="font-size:80%; margin-right:3px;"></i> {{ site.title }}</a></h1>
    <ul class="main-nav">
      <li><a href="/">dashboard</a></li>
      {{#if account.admin}}
      <li><a href="/account/invite">invite users</a></li>
      {{/if}}
      <!--<li><a href="http://flatsheet.io/docs">documentation</a></li>-->
      {{#if account.email}}
      <li>
        <form action="/session/destroy" method="post" class="sign-out">
          <input type="submit" value="Sign out">
        </form>
      </li>
      {{else}}
      <li><a href="/account/sign-in" class="button">Sign in</a></li>
      {{/if}}
    </ul>
  </div>
</header>

<main role="main">
  {{#block "body"}}{{/block}}
</main>

<footer>
  <div class="container">
    <ul>
      <li><a href="/"><b><i class="fa fa-table"></i> {{ site.title }}</b></a></li>
      <li><a href="http://github.com/flatsheet" target="_blank"><i class="fa fa-github"></i> GitHub</a></li>
      <li><a href="http://twitter.com/flatsheet" target="_blank"><i class="fa fa-twitter"></i> Twitter</a></li>
    </ul>
  </div>
</footer>

</body>
</html>
