<!doctype html>
<html lang="en-us">
<head>
  <meta charset="utf-8">
  <title>Edit tabular data and get JSON/CSV in return.</title>
  <link href="//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,900" rel="stylesheet" type="text/css">
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
  <link rel="stylesheet" href="/public/style.css">
</head>
<body>

<header>
  <div class="container">
    <h1><a href="/">Flatsheet</a></h1>
    <form action="/session/destroy" method="post">
      <input type="submit" value="Log out">
    </form>
  </div>
</header>

<main role="main">
  {{#block "body"}}{{/block}}
</main>

<footer>
  <div class="container">
    <a href="/">Flatsheet</a>
  </div>
</footer>

</body>
</html>
