{{#extend "layout"}}

{{#replace "body"}}
<div class="container">
  <h1 class="page-title">Reset your password</h1>

  <!--<form action="/accounts/acceptReset/{{account:uuid}}" method="post">-->
  <!--<form action="/accounts/reset/{{account.uuid}}" method="post">-->

    <p>Reset your password for username: {{ account.username }}</p>
    <p>Your uuid: {{ account.uuid }}</p>

  <!--TODO: add confirm-password feature-->
    <fieldset>
      <label for="password">password</label>
      <input type="password" name="password">
    </fieldset>

    <div class="form-actions">
      <input type="submit" value="Reset your password">
    </div>
  </form>
</div>
{{/replace}}

{{/extend}}
