{{#extend "layout"}}

{{#replace "body"}}
<div class="container">
  <h1 class="page-title">Reset your password</h1>

  <form action="/accounts/reset/{{account.key}}" method="post">

    <p>{{ account.username }}, please reset your password</p>

  <!--TODO: add confirm-password feature-->
    <fieldset>
      <label for="password">password</label>
      <input type="password" name=login[basic][password]>
    </fieldset>

  <input type="hidden" name=value[key] value="{{ account.key }}">
  <input type="hidden" name=value[admin] value={{ account.admin }}>
  <input type="hidden" name=value[username] value={{ account.username }}>

  <div class="form-actions">
    <input type="submit" value="Reset your password">
  </div>
  </form>
</div>
{{/replace}}

{{/extend}}
