{{#extend "layout"}}

{{#replace "body"}}

<div class="container">
  <h1 class="page-title">{{ sheet.name }}</h1>
  <p>{{ sheet.description }}</p>
  
  <p>
    <a class="button editor-button small" href="/sheets/edit/{{ sheet.key }}" target="_blank"><i class="fa fa-file-code-o"></i> edit</a>
    <a class="button editor-button small" href="/api/v2/sheets/{{ sheet.key }}" target="_blank"><i class="fa fa-file-code-o"></i> api</a>
  </p>
    
  <table id="table-view">
    <thead id="table-header">
      <tr>
        <th>
          <span class="column-name"><span class="spacer"></span></span>
        </th>
        {{#each headers}}
          <th id={{this}}>
            <span class="column-name">{{this}}</span>
          </th>
        {{/each}}
      </tr>
    </thead>
    <tbody id="table-body">
      {{#each sheet.rows}}
      <tr class="row" id="{{plus1 @index}}" name="{{plus1 @index}}">
        <td class="row-index">
          {{plus1 @index}}
        </td>
        {{#each this}}
        <td class="column-{{@key}}">
          {{this}}
        </td>
        {{/each}}
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>

<script src="/public/sheet-view.js"></script>

{{/replace}}

{{/extend}}
