{{#extend "layout"}}

{{#replace "body"}}

<div class="container">
  <h1>{{sheet.name}}</h1>
  <p>{{sheet.description}}</p>

  <button id="add-row"><i class="fa fa-plus"></i> row</button>
  <button id="add-column"><i class="fa fa-plus"></i> column</button>
  <button id="show-json"><i class="fa fa-file-o"></i> json</button>
  <button id="show-csv"><i class="fa fa-file-o"></i> csv</button>
  <button id="reset"><i class="fa fa-trash-o"></i> reset</button>

  <div id="main-content" class="table-wrapper"></div>
  <p id="hello-message">Add your first column to get started.</p>

  <div id="code-box" class="hidden">
    <button id="close"><i class="fa fa-times"></i> close</button>
    <textarea readonly></textarea>
  </div>
</div>

<script src="/public/sheet.js"></script>

{{/replace}}

{{/extend}}
