{{#extend "layout"}}

{{#replace "body"}}

<div class="container">
  <button id="new-blank-sheet"><i class="fa fa-plus"></i> New blank sheet</button>
  <button id="import-csv"><i class="fa fa-plus"></i> Import CSV file</button>
  <hr>
  <div class="sheet-list">
    <h1>Your sheets</h1>

    {{#each sheets}}
    <div class="list-item clearfix">
      <a href="/sheets/edit/{{ id }}">
        <div class="list-item-info">
          <h3 class="list-item-name">{{ name }}</h3>
          <div class="list-item-description">{{ description }}</div>
        </div>
        
        <div class="list-item-actions">
          <form action="/sheets/destroy/{{ id }}" method="post">
            <button type="submit" class="destroy-sheet">
              <i class="fa fa-trash-o"></i> destroy
            </button>
          </form>
        </div>
      </a>
    </div>
    {{/each }}
  </div>

</div>

<script src="/public/sheet-list.js"></script>

{{/replace}}

{{/extend}}
