{{#extend "layout"}}

{{#replace "body"}}

<div class="container">
  <div id="sheet-details"></div>

  <button id="add-row" class="editor-button"><i class="fa fa-plus"></i> row</button>
  <button id="add-column" class="editor-button"><i class="fa fa-plus"></i> column</button>
  <a class="button editor-button" href="/api/v2/sheets/{{ sheet.id }}" target="_blank"><i class="fa fa-file-code-o"></i> api</a>
  <button id="show-json" class="editor-button"><i class="fa fa-download"></i> json</button>
  <button id="show-csv" class="editor-button"><i class="fa fa-download"></i> csv</button>
  <button id="destroy" class="editor-button"><i class="fa fa-trash-o"></i> destroy</button>
  <button id="settings" class="editor-button"><i class="fa fa-cog"></i> settings</button>
  <div id="user-list"></div>
  <div id="main-content" class="table-wrapper"></div>
  <p id="hello-message">Add your first column to get started.</p>

  <div id="code-box" class="hidden">
    <button id="close"><i class="fa fa-times"></i> close</button>
    <textarea readonly></textarea>
  </div>
</div>

<script>
var user = {
  username: '{{ account.username }}',
  color: '{{ account.color }}'
};
</script>
<script src="/public/sheet.js"></script>


{{/replace}}

{{/extend}}
