{{#extend "layout"}}

{{#replace "body"}}

<div class="container">
  <h1 class="page-title">{{ name }}</h1>
  <p>{{ description }}</p>

  <table id="table-editor">
    <thead id="table-header">
      <tr>
        <span class="spacer"></span>
        <th>
          <span class="column-name"></span>
        </th>
        {{#each headers}}
          <th id={{this}}>
            <span class="column-name">{{this}}</span>
          </th>
        {{/each}}
      </tr>
    </thead>
    <tbody id="table-body">
      {{#each sheet.rows}}
      <tr class="row">
        <td class="row-index">{{plus1 @index}}</td>
        {{#each this}}
        <td class="column-{{@key}}">
          {{this}}
        </td>
        {{/each}}
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>

{{/replace}}

{{/extend}}
