<table id="table-editor">
  <thead id="table-header">
    <tr>
      <span class="spacer"></span>
      {{#headers:key}}
        <th id={{name}}>
          <span class="header-name">{{name}}</span>
          <button class="header-settings-toggle"><i class="fa fa-gear settings-icon"></i></button>
          <ul class="header-settings hidden">
            <li><button id="rename-{{name}}" class="setting"><i class="fa fa-edit"></i> Rename</button></li>
            <li><button id="delete-{{name}}" class="setting"><i class="fa fa-trash-o"></i> Delete</button></li>
          </ul>
        </th>
      {{/headers}}
    </tr>
  </thead>
  <tbody id="table-body">
    {{#rows:i}}
    <tr class="row-{{ i }}">
      <button class="delete-row"><i class="fa fa-trash-o delete-btn-icon"></i></button>
      {{#this:value}}
      <td class="column-{{value}}" id="row-{{ i }}-column-{{value}}">
        <textarea value="{{this}}"></textarea>
      </td>
      {{/.}}
    </tr>
    {{/rows}}
  </tbody>
</table>