<table id="table-editor">
  <thead id="table-column">
    <tr>
      <span class="spacer"></span>
      {{#columns:key}}
        <th id={{id}}>
          <span class="column-name"><input value="{{name}}"></span>
          <button id="{{id}}" class="destroy"><i class="fa fa-trash-o destroy-icon"></i></button>
        </th>
      {{/columns}}
    </tr>
  </thead>
  <tbody id="table-body">
    {{#rows:i}}
    <tr id="{{i}}">
      <button class="delete-row destroy"><i class="fa fa-trash-o destroy-icon"></i></button>
      {{#this:value}}
      <td id="{{value}}">
        <textarea value="{{this}}"></textarea>
      </td>
      {{/.}}
    </tr>
    {{/rows}}
  </tbody>
</table>
