<div class="long-text-wrapper">
  <form action="/sheets/update/{{sheet.id}}" method="post">
    <fieldset>
      <label >name:</label>
      <input type="name" name="name" placeholder={{ sheet.name }} value={{ sheet.name }}><br>
    </fieldset>

    <fieldset>
      <label >description:</label>
      <input type="description" name="description" placeholder={{ sheet.description }} value={{ sheet.description }}><br>
    </fieldset>

    <fieldset>
    <span class="active-users" id="user-list">
    <label>Accessible by:</label>
    {{#each sheet.accessible_by}}
    <li style="color:{{ this.color }}">
      <i class="fa fa-square"></i>
      {{ this.username }}
      <button type="button" id="{{ this.username }}-user" class="destroy settings delete-sheet-permission"><i class="fa fa-times destroy-icon"></i></button>
    </li><br>
    {{/each}}
    </span>
    </fieldset>

    <fieldset>
      <label>Add username to sheet users:</label>
      <input type="name" name="new-user-permission" id="autofill-sheet-users"><br><br>
    </fieldset>

    {{#if account.owner}}
    <fieldset>
    <span class="active-users" id="owner-list">
    <label>Owners:</label>
    {{#each sheet.owners}}
    <li style="color:{{ this.color }}">
      <i class="fa fa-square"></i>
      {{ this.username }}
      <button type="button" id="{{ this.username }}-owner" class="destroy settings delete-sheet-permission"><i class="fa fa-times destroy-icon"></i></button>
    </li><br>
    {{/each}}
    </span>
    </fieldset>
    <fieldset>
      <label>Add username to sheet owners:</label>
      <input type="name" name="new-owner-permission" id="autofill-sheet-owners"><br><br>
    </fieldset>
    {{/if}}


    <fieldset>
      <input type="submit" value="Update sheet">
    </fieldset>
  </form>
</div>
