<div class="long-text-wrapper">
  <form action="/sheets/update/{{sheet.id}}" method="post">
    <fieldset>
      <label >name:</label>
      <input type="name" name="name" placeholder={{ sheet.name }} value={{ sheet.name }}><br>
    </fieldset>

    <fieldset>
      <label >description:</label>
      <input type="description" name="description" placeholder={{ sheet.description }} value={{ sheet.description }}><br>
    </fieldset>

    <fieldset>
    <span class="active-users" id="user-list">
    <label>Accessible by (admins not shown):</label>
    {{#each sheet.accessible_by}}
    <li style="color:{{ this.color }}">
      <i class="fa fa-square"></i>
      {{ this.username }}
      <button type="button" id="{{ this.username }}" class="destroy settings delete-sheet-permission"><i class="fa fa-times destroy-icon"></i></button>
    </li><br>
    {{/each}}
    </span>
    </fieldset>

    <fieldset>
      <label>Grant access to username:</label>
      <input type="name" name="new-user-permission" id="autofill-usernames"><br><br>
    </fieldset>
    <fieldset>
      <input type="submit" value="Update sheet">
    </fieldset>
  </form>
</div>
