<table id="table-editor">
  <thead id="table-column">
    <tr>
      <span class="spacer"></span>
      {{# columns:key }}
        <th id={{ id }}>
          <span class="column-name"><input value="{{ name }}"></span>
          <button id="{{ id }}" class="destroy"><i class="fa fa-trash-o destroy-icon"></i></button>
        </th>
      {{/ column s}}
    </tr>
  </thead>
  <tbody id="table-body">
    {{# rows:i }}
    <tr id="{{ i }}">
      <button class="delete-row destroy"><i class="fa fa-trash-o destroy-icon"></i></button>
      {{# this:value }}
      <td id="row-{{ i }}-column-{{ value }}">
        <textarea value="{{ this }}" class="cell"></textarea>
      </td>
      {{/ . }}
    </tr>
    {{/ rows }}
  </tbody>
</table>
